In [1]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
from functools import reduce
import operator

In [2]:
#import src.cleaning_functions as fc

In [3]:
load_dotenv()

True

In [4]:
client_id = os.getenv("tok1")
client_secret = os.getenv("tok2")

In [5]:
url = "https://favqs.com/api/session"
url_query = 'https://api.foursquare.com/v2/venues/search'
url_recomendados = 'https://api.foursquare.com/v2/venues/explore'

In [6]:
madrid_coord = {'type': 'Point', 'coordinates': [40.42955,-3.6793]}
dublin_coord = {'type': 'Point', 'coordinates': [53.34919,-6.2606]}, 
bucarest_coord = {'type': 'Point', 'coordinates': [44.42724,26.09208]}

In [196]:
parametros = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{53.34919},{-6.2606}",
    "query": "nightclub"
}

In [197]:
resp = requests.get(url_query, params = parametros).json()

In [198]:
type(resp)

dict

In [199]:
#resp

In [200]:
import pyjsonviewer

In [201]:
#pyjsonviewer.view_data(json_data=resp)

In [202]:
import json
with open('data.json', 'w') as f:
    json.dump(resp, f)

In [203]:
#pyjsonviewer.view_data(json_file="data.json")

In [204]:
resp["response"].keys()

dict_keys(['venues'])

In [205]:
resp["response"]["venues"][0]

{'id': '4d2f3e72b97cb1f7a28c9648',
 'name': 'Alchemy Nightclub',
 'contact': {},
 'location': {'address': 'Fleet St, Temple Bar',
  'lat': 53.34607223552292,
  'lng': -6.260477327929122,
  'labeledLatLngs': [{'label': 'display',
    'lat': 53.34607223552292,
    'lng': -6.260477327929122}],
  'distance': 347,
  'postalCode': '2',
  'cc': 'IE',
  'city': 'Dublin',
  'state': 'Dublin City',
  'country': 'Ireland',
  'formattedAddress': ['Fleet St, Temple Bar',
   'Dublin',
   'Dublin City',
   'Ireland']},
 'categories': [{'id': '4bf58dd8d48988d11f941735',
   'name': 'Nightclub',
   'pluralName': 'Nightclubs',
   'shortName': 'Nightclub',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/nightclub_',
    'suffix': '.png'},
   'primary': True}],
 'verified': False,
 'stats': {'tipCount': 0,
  'usersCount': 0,
  'checkinsCount': 0,
  'visitsCount': 0},
 'beenHere': {'count': 0,
  'lastCheckinExpiredAt': 0,
  'marked': False,
  'unconfirmedCount': 0},
 'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []},
 'referralId': 'v-1636804127',
 'venueChains': [],
 'hasPerk': False}

In [206]:
resp["response"]["venues"][0].keys()

dict_keys(['id', 'name', 'contact', 'location', 'categories', 'verified', 'stats', 'beenHere', 'hereNow', 'referralId', 'venueChains', 'hasPerk'])

In [207]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

In [208]:
map_ = ["location", "lat"]

In [209]:
getFromDict(resp["response"]["venues"][0], map_)

53.34607223552292

In [210]:
def type_point(lista):
    return {"type":"Point", "coordinates": lista}

In [211]:
Dublin_nightclub_Dict = resp["response"]["venues"]

In [212]:
type(Dublin_nightclub_Dict)

list

In [213]:
todo = {"nombre": ["name"], "direcci√≥n": ["location", "address"], "latitud": ["location", "lat"], "longitud": ["location", "lng"]}

In [214]:
def extraetodo(json):
    todo = {"nombre": ["name"], "latitud": ["location", "lat"], "longitud": ["location", "lng"]} 
    total = []
    for elemento in json:
        libre = {key: getFromDict(elemento, value) for key,value in todo.items()}
        libre["location"] = type_point([libre["latitud"], libre["longitud"]])
        total.append(libre)
    return total

In [215]:
nightclub_Dublin = extraetodo(Dublin_nightclub_Dict)

In [216]:
data_nightclub_D = pd.DataFrame(nightclub_Dublin)

In [217]:
data_nightclub_D.head()

,nombre,latitud,longitud,location
0,Alchemy Nightclub,53.346072,-6.260477,"{'type': 'Point', 'coordinates': [53.346072235..."
1,Play Nightclub Dublin,53.350267,-6.270144,"{'type': 'Point', 'coordinates': [53.350267474..."
2,Sanctuary Nightclub,53.346922,-6.258883,"{'type': 'Point', 'coordinates': [53.346922, -..."
3,Boomerang Nightclub,53.345763,-6.262219,"{'type': 'Point', 'coordinates': [53.345762549..."
4,Marquee Nightclub,53.345196,-6.265937,"{'type': 'Point', 'coordinates': [53.345196, -..."

# DataFrames de Starbucks de las ciudades

In [73]:
#data_Starb_M

In [79]:
#data_Starb_D

In [43]:
#data_Starb_B

In [218]:
import json
with open ("D_nightclub.json","w") as f: # creamos un archivo vac√≠o en el que vamos a escribir
    json.dump(nightclub_Dublin,f) # cargamos nuestra lista de diccionarios en ese archivo

In [219]:
type(f)

_io.TextIOWrapper

In [46]:
#data_School_D