In [2]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
from functools import reduce
import operator

In [3]:
#import src.cleaning_functions as fc

In [4]:
load_dotenv()

True

In [5]:
client_id = os.getenv("tok1")
client_secret = os.getenv("tok2")

In [6]:
url = "https://favqs.com/api/session"
url_query = 'https://api.foursquare.com/v2/venues/search'
url_recomendados = 'https://api.foursquare.com/v2/venues/explore'

In [7]:
madrid_coord = {'type': 'Point', 'coordinates': [40.42955,-3.6793]}
dublin_coord = {'type': 'Point', 'coordinates': [53.34919,-6.2606]}, 
bucarest_coord = {'type': 'Point', 'coordinates': [44.42724,26.09208]}

In [56]:
parametros = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{53.34919},{-6.2606}",
    "query": "Starbucks"
}

In [58]:
resp = requests.get(url_query, params = parametros).json()

In [59]:
type(resp)

dict

In [60]:
#resp

In [12]:
import pyjsonviewer

In [13]:
#pyjsonviewer.view_data(json_data=resp)

In [43]:
import json
with open('data.json', 'w') as f:
    json.dump(resp, f)

In [15]:
pyjsonviewer.view_data(json_file="data.json")

In [61]:
resp["response"].keys()

dict_keys(['venues'])

In [62]:
resp["response"]["venues"][0]

{'id': '4af1ea70f964a5205ee421e3',
 'name': 'Starbucks',
 'contact': {},
 'location': {'address': '1 College Green',
  'lat': 53.344414517730876,
  'lng': -6.260942333680538,
  'labeledLatLngs': [{'label': 'display',
    'lat': 53.344414517730876,
    'lng': -6.260942333680538}],
  'distance': 532,
  'postalCode': '2',
  'cc': 'IE',
  'city': 'Dublin',
  'state': 'Dublin City',
  'country': 'Ireland',
  'formattedAddress': ['1 College Green', 'Dublin', 'Dublin City', 'Ireland']},
 'categories': [{'id': '4bf58dd8d48988d1e0931735',
   'name': 'Coffee Shop',
   'pluralName': 'Coffee Shops',
   'shortName': 'Coffee Shop',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
    'suffix': '.png'},
   'primary': True}],
 'verified': True,
 'stats': {'tipCount': 0,
  'usersCount': 0,
  'checkinsCount': 0,
  'visitsCount': 0},
 'beenHere': {'count': 0,
  'lastCheckinExpiredAt': 0,
  'marked': False,
  'unconfirmedCount': 0},
 'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []},
 'referralId': 'v-1636797417',
 'venueChains': [],
 'hasPerk': False}

In [63]:
resp["response"]["venues"][0].keys()

dict_keys(['id', 'name', 'contact', 'location', 'categories', 'verified', 'stats', 'beenHere', 'hereNow', 'referralId', 'venueChains', 'hasPerk'])

In [64]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

In [65]:
map_ = ["location", "lat"]

In [66]:
getFromDict(resp["response"]["venues"][0], map_)

53.344414517730876

In [67]:
def type_point(lista):
    return {"type":"Point", "coordinates": lista}

In [69]:
Dublin_Starbucks_Dict = resp["response"]["venues"]

In [70]:
type(Dublin_Starbucks_Dict)

list

In [71]:
todo = {"nombre": ["name"], "dirección": ["location", "address"], "latitud": ["location", "lat"], "longitud": ["location", "lng"]}

In [72]:
def extraetodo(json):
    todo = {"nombre": ["name"], "latitud": ["location", "lat"], "longitud": ["location", "lng"]} 
    total = []
    for elemento in json:
        libre = {key: getFromDict(elemento, value) for key,value in todo.items()}
        libre["location"] = type_point([libre["latitud"], libre["longitud"]])
        total.append(libre)
    return total

In [73]:
Starbucks_Dublin = extraetodo(Dublin_Starbucks_Dict)

In [31]:
data_Starb_D = pd.DataFrame(Starbucks_Bucarest)

In [32]:
data_Starb_B.head()

,nombre,latitud,longitud,location
0,Starbucks,44.429186,26.101656,"{'type': 'Point', 'coordinates': [44.429186393..."
1,Starbucks,44.421537,26.149599,"{'type': 'Point', 'coordinates': [44.421536889..."
2,Starbucks,44.445334,26.062445,"{'type': 'Point', 'coordinates': [44.445333890..."
3,Starbucks,44.478522,26.102503,"{'type': 'Point', 'coordinates': [44.478522111..."
4,Starbucks,44.449437,26.088197,"{'type': 'Point', 'coordinates': [44.449436602..."

# DataFrames de Starbucks de las ciudades

In [73]:
#data_Starb_M

In [79]:
#data_Starb_D

In [34]:
#data_Starb_B

In [74]:
import json
with open ("D_starb.json","w") as f: # creamos un archivo vacío en el que vamos a escribir
    json.dump(Starbucks_Dublin,f) # cargamos nuestra lista de diccionarios en ese archivo

In [75]:
type(f)

_io.TextIOWrapper