In [1]:
import sys
sys.path.append('../')
import pandas as pd
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster

In [2]:
!pwd

/Users/danielaarias/Ironhack/Taller_Geo/Notebooks

In [3]:
df = pd.read_csv("../Data/Ciudades_ready.csv")

In [5]:
df.head(3)

     ciudad     Totales
0  Bucarest  340.355169
1    Dublin  159.879332
2    Madrid  292.242400

In [6]:
barplot = sns.barplot(x="ciudad", y="Totales", data=df,ci="sd")

NameError: name 'sns' is not defined